
body{
    background-image: url(/img/fondo.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
}
.logo{
    margin-top: 100px;
    margin-left: 100px;
    height: 60px;    
}
.btn-iniciar{
    color: whitesmoke;
    font-size: 40px;
    padding: 5px;
    background-color: grey;
    border: none;
    border-radius: 5px;
    box-shadow:10px 5px 5px black ;
    text-shadow: 4px 4px 4px black;
    margin-top: 12%;
    margin-left: 44%;
}
.desaparecer{
    display: none;
}