header{
    background-color: #BBBBBB;
    padding: 20px 0;
}
.caja{
    position: relative;
    width: 70%;
    margin: 0 auto;
    
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline-block;
    margin: 0 0 0 15px;
    

}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

main ul{
    
    width: 70%;
    margin: 5% auto;
    /* //background-color: red; */
    text-align: center;

}
main li{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 25px;

}
main li:hover{
    border-color: #c78c19;
}
main li:active{
    border-color: #088c19;
}
main li h2{
    font-size: 30px;
    font-weight: bold;  

}
main li:hover h2{
    font-size: 33px;
}
.productoDescripcion{
    font-size: 18px;
}
.productoPrecio{
    font-size:20px ;
    font-weight: bold;
    margin-top: 10px;
}
