header{
position: relative;

  
}
.tituloPrincipal{
    padding-left: 30px;
}
header li{
  display: inline-block;
  
}
.productos-contacto{
  position: absolute;
  top: 0;
  right: 0; 


}
ul.productos-contacto{
  margin-right: 0;
}
header ul li a{
  text-decoration: none;
  padding-left:8px ;
  font-size: 18px;
}
#banner{
   width: 100%; 
}
.principal{
    background: #cccccc;
    padding: 20px;
}
.tituloCentrado {
  text-align: center;
}
p {
  text-align: center;
}
em strong {
  color: red;
}
#mision {
  font-size: 20px;
}
.diferenciales{
    background: #ffffff;
    padding: 30px;
}

.items{
    font-style: italic;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right:15%;
}
.imagenDiferenciales{   
    width: 50%;

}


